<%= title %>

<div>
    <ul>
        <% if (products.length > 0) { %>
        <% for(var i=0; i < products.length; i++) { %>
            <li><img src='<%= products[i].imagePath %>'/></li>
            <li><%= products[i].title %></li>
            <li><%= products[i].description %></li>
            <li><%= products[i].price %></li>
            <a href="/add-to-cart/<%= products[i].id %>" class="btn btn-success pull-right" role="button">Add to Cart</a>
        <% } %>
        <% } else { %>
            <p> No products in store </p>
        <% } %>
    </ul>
</div>